<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Properties>
        <Property name="basePath">c:/data/log/</Property>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1}.%M(%F:%L) - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="consoleLog" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${logPattern}" />
        </Console>

        <RollingFile name="infoLog" fileName="${basePath}/log.log" filePattern="${basePath}/log_%d{yyyy_MM_dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
		
        <RollingFile name="errorLog" fileName="${basePath}/log_err.log" filePattern="${basePath}/log_err%d{yyyy_MM_dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="com.prop" additivity="false">
            <AppenderRef ref="infoLog" />
            <AppenderRef ref="errorLog" />
            <AppenderRef ref="consoleLog" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="consoleLog" />
        </Root>

    </Loggers>
</Configuration>