<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Properties>
        <!-- <Property name="basePath">/programs/caselog/</Property> -->
        <Property name="basePath">c:/data/logs/</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1}.%M(%F:%L) - %msg%n" />
        </Console>

        <RollingFile name="Info" fileName="${basePath}/log.log" filePattern="${basePath}/log_%d{yyyy_MM_dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1}.%M(%F:%L) - %msg%n" />
            <Policies>
                <!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="org.springframework.web" level="all" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Info" />
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>

    </Loggers>
</Configuration>